*/
/* Eric Meyer's reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

section {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 70vw;
  height: fit-content;
  font-size: 1.6rem;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background: black;
  margin: none;
}

h1,
h2,
h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;

  letter-spacing: 0.1rem;
  padding: 30px 0px;
}

h2 {
  font-size: 4rem;
}

h3 {
  color: black;
  font-size: 3rem;
}

.container {
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px;
}

.pageTitle {
  color: white;
  font-weight: 300;
  font-size: 5rem;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background-color: #d2d2d2;
  font-size: 1.8rem;
  line-height: 1.5;
}
/*  info is a list: date/time info etc */

.alert {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.mtg {
  margin: 0 100%;
  margin-bottom: 15px;
}

.meeting {
  text-align: center;
  max-width: 80vw;
  margin-left: 10vw;
  background-color: #eaf7cf;
  border: 3px solid #ceb5a7;
  border-radius: 3px;
  color: black;
  margin-bottom: 15px;
}

a {
  font: inherit;
}

section div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: fit-content;
  height: 85vh;
}

form * {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 1vw auto;
  padding: 5px 20px;
}

button {
  border-radius: 5px;
  background-color: #92828d;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 5px 20px;
}

button:disabled {
  color: black;
  background-color: #92828d;
  cursor: not-allowed;
}

input {
  display: block;
  width: 80vw;
}

.styledButton {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin: 1vw auto;
  padding: 5px 20px;
  background-color: #adaabf;
  border: 2px solid #92828d;
}

.hidden {
  display: none;
}

label {
  color: white;
  display: block;
}

@media (min-width: 400px) {
  a {
    font-family: "Yanone Kaffeesatz", sans-serif;
    text-align: center;
    padding-top: 10px;
    color: black;
    width: 150px;
    height: 40px;
    text-shadow: none;
    background-color: 2px solid #adaabf;
  }

  input {
    max-width: 350px;
  }
}

@media (min-width: 700px) {
  .mtg-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  div.meeting {
    width: 40vw;
    min-width: auto;
    margin: 20px;
  }

  .info * {
    margin: 0;
  }
  button {
    margin: 10px 0;
  }

  .alert {
    height: fit-content;
    width: 40vw;
  }

  section {
    min-height: 120vw;
  }
}

@media (min-width: 1200px) {
  .mtg-container {
    justify-content: space-between;
  }

  div.meeting {
    width: 31vw;
    margin: 1vw;
  }

  .alert {
    height: fit-content;
    width: 31vw;
  }
}
